.root {
  width: 100vw !important;
  max-width: 300px;
  padding: 15px !important;
  margin: 0 !important;
  border-radius: 5px;
  background-color: var(--card-bg-color) !important;
  color: var(--card-primary-text-color) !important;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.5) !important;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
}

.message {
  padding: 10px 0;
}

.actions {
  display: flex;
  flex-direction: column;
}
.actions > button {
  margin-bottom: 10px;
}
.actions > button:last-child {
  margin-bottom: 0px;
}
