/* Global */

.root {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: flex;
  align-items: center;
  min-width: 20px;
}

.root.editing {
  cursor: text;
}

.root > button {
  margin-left: 5px;
}

.root {
  color: var(--primary-text-color);
}
.root.editable:hover {
  border-bottom-color: var(--divider-color);
}
.root:focus {
  outline: none;
  border-bottom-color: var(--accent-color) !important;
}
.title {
  font-size: var(--title-text-size);
  font-weight: var(--title-text-weight);
  color: var(--title-text-color);
}
.primary {
  color: var(--primary-text-color);
}
.secondary {
  color: var(--secondary-text-color);
}
.accent {
  color: var(--accent-color);
}

/* Overrides */

.caption {
  font-size: 0.8rem;
  font-weight: 400;
}
.body {
  font-size: 1rem;
  font-weight: 400;
}

.underline {
  text-decoration: underline;
}

.lowercase {
  text-transform: lowercase;
}
.uppercase {
  text-transform: uppercase;
}

.left {
  text-align: left;
}
.center {
  text-align: center;
}
.right {
  text-align: right;
}

.padding-vertical {
  padding: 10px 0;
}
.padding-horizontal {
  padding: 0 15px;
}
.padding-both {
  padding: 10px 15px;
}
.padding-none {
  padding: 0;
}

.wrap {
  white-space: initial;
}

.nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
