.root {
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  display: inline-block;
  position: relative;
}

.root:hover {
  border-bottom-color: var(--divider-color);
}
.root:focus {
  outline: none;
  border-bottom-color: var(--accent-color);
}

.dateContainer {
  position: absolute;
  z-index: 3;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
}

.date {
  position: relative;
  opacity: 0;
}
.date::-webkit-calendar-picker-indicator {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(255, 0, 0, 0.1);
  color: transparent;
  opacity: 0;
  width: auto;
  height: auto;
  margin: 0;
  padding: 0;
}
