.root {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  padding: 0 15px 15px 15px;
  height: 100%;
}
.root.vertical {
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
.root.horizontal {
  grid-auto-columns: 250px;
  grid-auto-flow: column;
  grid-template-rows: 1fr;
}

.root.list {
  row-gap: 0;
  column-gap: 0;
  padding: 0 0 15px 0;
}

.root.fitCards {
  grid-auto-rows: inherit;
}
