.root {
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  row-gap: 15px;
  column-gap: 15px;
  grid-auto-rows: max-content;
  padding: 0 15px 15px 15px;
}
