.root {
  display: flex;
  flex-direction: column;
  color: var(--panel-primary-text-color);
  background-color: var(--panel-bg-color);
}

.span1 {
  grid-column: span 1;
}
.span2 {
  grid-column: span 2;
}
.span3 {
  grid-column: span 3;
}
.span4 {
  grid-column: span 4;
}
.span5 {
  grid-column: span 5;
}

.draggableMargin {
  margin: 0 -10px 0 10px;
}

.headerActions {
  transition: opacity 200ms;
  white-space: nowrap;
}
.headerActionsHidden {
  opacity: 0;
}
.header:hover .headerActions {
  opacity: 1;
}

.btnMove {
  cursor: move !important;
}

.content {
  flex: 1;
}
.content.vertical {
  overflow-x: hidden;
  overflow-y: auto;
}
.content.horizontal {
  overflow-x: auto;
  overflow-y: hidden;
}

.root select {
  color: var(--panel-accent-color);
}
.root select:focus {
  border: 2px solid var(--panel-accent-color);
}
.root input {
  color: var(--panel-primary-text-color);
  border-bottom: 2px solid var(--panel-accent-color);
}

.extraButtons > button {
  margin-bottom: 10px;
}
