.root {
  display: flex;
  flex-direction: column;
  margin: 0 auto 20px auto;
  padding: 0 15px;
  width: 100%;
  max-width: 500px;
  align-self: center;
}

.root > * {
  margin-bottom: 10px;
}

.root button {
  margin-bottom: 10px;
}
