.root {
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 300px;
  margin: 0;
}
.title:focus {
  outline: none;
}
.title[contentEditable='true'] {
  border-bottom: 1px solid var(--card-accent-color);
}
