.root {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
}

.title {
  font-weight: 300px;
  margin: 0;
  color: var(--panel-title-text-color);
}
.title:focus {
  outline: none;
}
.title[contentEditable='true'] {
  border-bottom: 1px solid var(--panel-accent-color);
}
