.root {
  position: relative;
}

.root > img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.badge {
  position: absolute;
  bottom: -2px;
  right: -2px;
  border-radius: 50%;
  border: 1px solid var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.badge.approved,
.badge.approvedWithSuggestions {
  background-color: rgba(85, 163, 98, 1);
}
.badge.noResponse {
  background-color: rgba(234, 234, 234, 1);
}
.badge.waiting {
  background-color: rgba(214, 127, 60, 1);
}
.badge.rejected {
  background-color: rgba(205, 74, 69, 1);
}
