.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 15px 10px 5px;
  cursor: pointer;
}
.root:hover {
  backdrop-filter: brightness(var(--row-highlight));
}
.root:active {
  backdrop-filter: brightness(var(--row-dim));
}

.root.compact {
  padding: 5px 15px 5px 5px;
}
.root.spacious {
  padding: 15px 15px 15px 5px;
}

.divider {
  border-bottom: 1px solid var(--card-divider-color);
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.workItemIcon {
  height: 16px;
  width: 16px;
  margin-right: 5px;
  border-radius: 50%;
}

.title {
  flex: 1;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.stateIcon {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin: 0 5px;
}

.assignedAvatar {
  height: 16px;
  width: 16px;
  border-radius: 50%;
  margin-right: 5px;
}
