.root {
}

.row {
  display: flex;
  align-items: center;
  padding: 10px 15px;
  cursor: pointer;
}
.row:hover {
  backdrop-filter: brightness(var(--row-highlight));
}
.row:active {
  backdrop-filter: brightness(var(--row-dim));
}

.row.compact {
  padding: 5px 15px;
}
.row.spacious {
  padding: 15px 15px;
}

.divider {
  border-bottom: 1px solid var(--card-divider-color);
}

.row .title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.row > div {
  overflow: hidden;
}

.row > .image {
  position: relative;
  margin-right: 10px;
}
.row > .image > svg {
  position: absolute;
  right: 0;
  bottom: 0;
  background-color: var(--bg-color);
  border-radius: 50%;
}

.row .avatar {
  height: 32px;
  width: 32px;
  border-radius: 50%;
  margin-right: 4px;
  margin-bottom: 4px;
}

.row .entityTitle {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  color: var(--secondary-text-color);
}

.row .date {
  font-size: 0.9rem;
  color: var(--secondary-text-color);
}
