.root {
  display: flex;
  align-items: center;
  padding: 8px 10px 8px 12px;
  margin-top: -10px;
}

.icon {
  height: var(--title-text-size);
  width: var(--title-text-size);
  margin-right: 7px;
}

.spacer {
  flex: 1;
}

.actions {
  transition: opacity 200ms;
}

.actions.hide {
  opacity: 0;
}

.root:hover .actions {
  opacity: 1;
}
