.root {
  display: flex;
  flex-direction: column;
  background-color: var(--card-bg-color);
  color: var(--card-primary-text-color);
  border-radius: 3px;
  overflow-y: auto;
  padding: 10px 0;
}

.root.shadow {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.root.divider {
  border-bottom: 1px solid var(--panel-divider-color);
}

.root:last-of-type {
  border-bottom: none;
}

.root.list {
  box-shadow: none;
  background: none;
}

.root select {
  color: var(--card-accent-color);
}
.root select:focus {
  border: 2px solid var(--card-accent-color);
}
.root input {
  color: var(--card-primary-text-color);
  border-bottom: 2px solid var(--card-accent-color);
}

.root > button {
  width: calc(100% - 20px);
  margin: 10px 10px 0px 10px;
}
