.CardHeader {
  padding: 10px 15px 5px 15px;
}

.CardHeader__row {
  display: flex;
  justify-content: space-between;
}

.CardHeader__text {
  font-size: 1.5em;
  font-weight: 500;
}

.CardHeader__actions {
}
