.root {
  padding: 0 15px 5px 15px;
}

.row {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.5em;
  font-weight: 500;
  font-size: var(--card-title-text-size);
  font-weight: var(--card-title-text-weight);
  color: var(--card-title-text-color);
}

.actions {
}
