.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 10px 8px 12px;
  margin-top: -10px;
}

.actions {
  transition: opacity 200ms;
}

.actions.hide {
  opacity: 0;
}

.root:hover .actions {
  opacity: 1;
}
