.root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.message {
  padding: 0 10px;
}

.folderRoot {
  padding-left: 20px;
  cursor: pointer;
}
.folderTitle {
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid var(--card-divider-color);
}
.folderTitle:hover {
  backdrop-filter: brightness(var(--row-highlight));
}
.folderTitle:active {
  backdrop-filter: brightness(var(--row-dim));
}
