.root {
  width: 100vw !important;
  max-width: 900px;
  padding: 15px !important;
  margin: 0 !important;
  border-radius: 5px;
  background-color: var(--card-bg-color) !important;
  color: var(--card-primary-text-color) !important;
  max-height: 100vh;
  overflow-y: auto;
}

[data-reach-dialog-overlay] {
  background: hsla(0, 0%, 0%, 0.5) !important;
  backdrop-filter: blur(1px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0 0 20px 0;
}

.message {
  padding: 10px 0;
}

.gridActions {
  margin: 10px 0;

  padding-left: 85px;
  padding-right: 35px;
  display: flex;
  justify-content: space-between;
}

.gridActions button {
  margin: 5px;
}

.rowActions {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.actions {
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  margin-top: 30px;
  border-top: 1px solid var(--card-divider-color);
  padding-top: 15px;
}
.actions > button {
  margin-left: 10px;
}

.layoutRow {
  display: flex;
  align-items: center;
}
.layoutRow > div {
  flex: 1;
  text-align: center;
}

.actionRow {
  padding-left: 85px;
  padding-right: 35px;
}

.layoutCol {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
  border: 1px solid black;
  padding: 3px;
}

.layoutRow:nth-of-type(2) .layoutCol:nth-of-type(2) {
  border-start-start-radius: 5px;
}

.layoutRow:nth-of-type(2) .layoutCol:nth-last-of-type(1) {
  border-start-end-radius: 5px;
}

.layoutRow:nth-last-of-type(2) .layoutCol:nth-of-type(2) {
  border-end-start-radius: 5px;
}

.layoutRow:nth-last-of-type(2) .layoutCol:nth-last-of-type(1) {
  border-end-end-radius: 5px;
}

.layoutCol > select {
  width: 100%;
  text-align-last: start;
}

.deleteRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: unset !important;
}

.sizeRow {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: unset !important;
  margin-left: 10px;
}

.sizeCol {
  display: flex;
  align-items: center;
  justify-content: center;
}
.size {
  min-width: 35px;
  text-align: center;
}

.size:invalid {
  border-bottom: 2px solid var(--error-text-color);
  color: var(--error-text-color);
}

.errorMessage {
  color: var(--error-text-color);
}

.compactSizes {
  display: none;
  margin: 10px 0;
}

.compactSizes > div {
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--card-divider-color);
}

@media screen and (max-width: 700px) {
  .rowActions > button {
    width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .actionRow,
  .sizeRow,
  .layoutRow > button {
    display: none;
  }

  .actions {
    flex-direction: column;
    margin-top: 10px;
  }
  .actions > button {
    margin-left: 0;
    margin-bottom: 5px;
    width: 100%;
  }

  .gridActions {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
  }
  .rowActions > button {
    width: 100%;
  }

  .compactSizes {
    display: block;
  }
}

@media screen and (max-width: 300px) {
  .gridActions {
    flex-direction: column;
  }
}
