.root {
  display: grid;
  grid-template-columns: 1fr 2fr 2fr;
  grid-template-rows: 100vh;
  flex: 1;
  max-height: 100vh;
  padding: 0 10px;
  column-gap: 10px;
}

.root > div {
  overflow: hidden;
}
