.root {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100vh;
  flex: 1;
  max-height: 100vh;
  padding: 0 15px;
  column-gap: 30px;
  max-width: 1400px;
  margin: auto;
}

.root > div {
  overflow: hidden;
}
