.root {
  display: grid;
  grid-template-columns: 1fr 40px;
}

.panels {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  grid-template-rows: 100vh;
  flex: 1;
  max-height: 100vh;
  column-gap: 10px;
}

.panels > div {
  overflow: hidden;
}

.empty {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.message {
  display: grid;
  grid-gap: 15px;
  text-align: center;
  max-width: 300px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
