.root {
}

.message {
  margin: 10px 0;
  color: var(--panel-secondary-text-color);
}

.delete {
  margin-top: 20px;
}

.permissionsList > li {
  margin-bottom: 10px;
}

li > b {
  color: var(--panel-accent-color);
}

.error {
  color: var(--error-text-color);
}
