.root {
  height: var(--full-height);
  padding: 0 20px;
  overflow-y: auto;
}

.content {
  max-width: 700px;
  margin: 0 auto;
}

.content > section {
  padding-bottom: 10px;
}

.themeActions {
  display: flex;
  justify-content: flex-end;
}
.themeActions > button {
  margin-left: 10px;
}

@media screen and (max-width: 500px) {
  .themeActions {
    flex-direction: column;
  }
  .themeActions > button {
    margin-left: 0;
    margin-bottom: 10px;
  }
}
