.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--sidebar-bg-color);
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.bar {
  display: flex;
  align-items: center;
  padding: 0 7px;
}

.pages {
  display: flex;
}
.pages > div {
  padding: 0 10px;
}

.spacer {
  flex: 1;
}
