.root {
  height: var(--full-height);
  padding: 0 20px;
  display: grid;
  grid-template-columns: auto minmax(350px, 500px);
  grid-gap: 30px;
}

.basePreview {
}
.basePreview > button {
  width: 100%;
  margin-bottom: 10px;
}

.secondaryText {
  color: var(--secondary-text-color);
}

.warningText {
  color: var(--warning-text-color);
}

.errorText {
  color: var(--error-text-color);
}

.accent {
  color: var(--app-accent-color);
}

.previewContainer {
  display: flex;
  flex-direction: column;
  max-height: var(--full-height);
}

.preview {
  border: 3px solid var(--primary-text-color);
  color: var(--primary-text-color);
  background-color: var(--app-bg-color);
  border-radius: 10px;
  padding: 20px 20px 30px 20px;
  overflow-y: auto;
  flex: 1;
  font-size: calc(var(--base-text-size) * 1px);
  font-weight: var(--base-text-weight);
}

.panels {
  display: flex;
  flex-direction: column;
  flex: 1;
  max-height: var(--full-height);
}

.panelSecondaryText {
  color: var(--panel-secondary-text-color);
}

.panelAccent {
  color: var(--panel-accent-color);
}

.cardTextContainer {
  padding: 0 15px;
}
.cardTextContainer div:first-child {
  margin-bottom: 10px;
}

.sidebar {
  height: 50px;
  margin: 0 -20px;
  font-size: var(--sidebar-title-text-size);
  background-color: var(--sidebar-bg-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px,
    rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}

.sidebarPages {
  display: flex;
  height: 50px;
}

.sidebarButtons {
  white-space: nowrap;
}

.sidebarActivePage {
  color: var(--sidebar-accent-color);
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
}
.sidebarPage {
  color: var(--sidebar-title-text-color);
  display: flex;
  align-items: center;
  padding: 0 10px;
  text-transform: uppercase;
}

.configContainer {
  display: flex;
  flex-direction: column;
  max-height: var(--full-height);
}

.configure {
  border: 3px solid var(--primary-text-color);
  border-radius: 10px;
  padding: 20px;
  overflow-y: auto;
  flex: 1;
}

.themeValueList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  column-gap: 25px;
  row-gap: 25px;
}

.configureHeader {
  display: flex;
  align-items: center;
}
.configureHeader > h1 {
  flex: 1;
}
.configureHeader > button {
  margin-left: 10px;
}

.mainSectionHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.importExportTheme {
}

.importExportTheme > button {
  margin: 10px 10px 0 0;
}

.themeJson {
  width: 100%;
}

.importError {
  color: var(--error-text-color);
}

.themeName {
  width: 100%;
}

.settingsContainer {
  display: flex;
  flex-direction: column;
  max-height: var(--full-height);
  max-width: 500px;
  justify-self: center;
}

.settingsContainer > button {
  margin-bottom: 10px;
}

.themeActions {
  display: flex;
}
.themeActions > button {
  margin-left: 10px;
}

/* Color Chooser */

.colorChooser {
}

.colorName {
}

.colorRow {
  display: flex;
}

.colorInput {
  border-bottom: 1px solid var(--primary-text-color);
  height: 36px;
  flex: 1;
}

.colorPreviewContainer {
  position: relative;
  height: 36px;
  width: 36px;
  margin-left: 10px;
}

.colorPreviewInput,
.colorPreview {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  left: 0px;
  height: 36px;
  width: 36px;
}

.colorPreviewInput {
  opacity: 0;
}

.colorPreview {
  pointer-events: none;
  border: 1px solid var(--secondary-text-color);
  border-radius: 4px;
}
