.root {
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--panel-divider-color);
}
.root:last-of-type {
  margin-bottom: 15px;
}

.root.compact {
  padding-bottom: 5px;
  margin-bottom: 5px;
}

.root.spacious {
  padding-bottom: 15px;
  margin-bottom: 15px;
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 38px;
}

.row > input {
  text-align: center;
}

.label {
  cursor: help;
}

.helptext {
  color: var(--panel-secondary-text-color);
  margin-bottom: 10px;
}

.row > input[type='checkbox'] {
  height: 18px;
  width: 18px;
}
