.root {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  filter: none;
  transition: 150ms filter;
}
.root:hover,
.root:focus {
  filter: brightness(130%);
}
.root:active {
  filter: brightness(70%);
  transition: none;
}

.icon {
  fill: var(--card-button-bg-color);
}
