.root {
  height: 36px;
  width: 36px;
  border-radius: 100%;
  filter: none;
  transition: 150ms backdrop-filter filter;
}
.root:hover,
.root:focus {
  filter: brightness(var(--button-highlight));
}
.root:active {
  filter: brightness(var(--button-dim));
  transition: none;
}

.primary {
  fill: var(--primary-button-bg-color);
}
.secondary {
  fill: var(--secondary-button-bg-color);
}
.warning {
  fill: var(--warning-button-bg-color);
}
.danger {
  fill: var(--danger-button-bg-color);
}

.iconSpin {
  animation-name: spin;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
