.root {
  height: 36px;
  width: 36px;
  opacity: 0.2;
  transition: opacity 150ms;
}

.root:hover {
  /* background-color: var(--card-button-highlight-color); */
  opacity: 0.8;
}

.root:active {
  /* background-color: var(--card-accent-color); */
  /* opacity: 0.8; */
}

.icon {
  fill: var(--card-button-text-color);
}

.root:active .icon {
  fill: var(--card-accent-color);
}
