:root {
  --main-bg-color: #0c1920;
  --main-text-color: rgba(255, 255, 255, 0.88);
  --card-bg-color: #12252f;
  --card-accent-color: #dbebc0;
  /* --card-accent-color: #ffa500; */
  --card-highlight-color: rgba(255, 255, 255, 0.05);
  --card-button-bg-color: transparent;
  --card-button-text-color: rgba(255, 255, 255, 0.88);
  /* --card-button-icon-color: rgba(255, 255, 255, 0.7); */
  --card-button-highlight-color: rgba(255, 255, 255, 0.05);
}

body {
  background: var(--main-bg-color);
  color: var(--main-text-color);
  font-size: 16px;
}

a,
a:active,
a:visited {
  color: var(--card-accent-color);
  text-decoration: none;
}

button {
  border: none;
  background-color: transparent;
  font-family: inherit;
  padding: 0;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  outline: unset;
}
