:root {
  --app-bg-color: #0c1920; /* TODO: Make default theme light */
  --app-accent-color: #ffa500;

  --primary-text-color: rgba(255, 255, 255, 0.88);
  --secondary-text-color: rgba(255, 255, 255, 0.6);
  --warning-text-color: #f5f749;
  --error-text-color: #f24236;

  --primary-button-bg-color: var(--app-accent-color);
  --primary-button-text-color: var(--primary-text-color);
  --secondary-button-bg-color: #1c3a4a;
  --secondary-button-text-color: var(--primary-text-color);
  --warning-button-bg-color: var(--warning-text-color);
  --warning-button-text-color: rgba(0, 0, 0, 0.88);
  --danger-button-bg-color: var(--error-text-color);
  --danger-button-text-color: var(--primary-text-color);

  /* Panel */
  --panel-bg-color: none;
  --panel-accent-color: var(--app-accent-color);
  --panel-divider-color: var(--secondary-text-color);
  --panel-title-text-color: var(--primary-text-color);
  --panel-primary-text-color: var(--primary-text-color);
  --panel-secondary-text-color: var(--secondary-text-color);

  --panel-primary-button-bg-color: var(--primary-button-bg-color);
  --panel-primary-button-text-color: var(--primary-button-text-color);
  --panel-secondary-button-bg-color: var(--secondary-button-bg-color);
  --panel-secondary-button-text-color: var(--secondary-button-text-color);
  --panel-warning-button-bg-color: var(--warning-button-bg-color);
  --panel-warning-button-text-color: var(--warning-button-text-color);
  --panel-danger-button-bg-color: var(--danger-button-bg-color);
  --panel-danger-button-text-color: var(--danger-button-text-color);

  /* Card */
  --card-bg-color: #12252f;
  --card-accent-color: var(--app-accent-color);
  --card-divider-color: var(--primary-text-color);
  --card-title-text-color: var(--primary-text-color);
  --card-primary-text-color: var(--primary-text-color);
  --card-secondary-text-color: var(--secondary-text-color);

  --card-primary-button-bg-color: var(--primary-button-bg-color);
  --card-primary-button-text-color: var(--primary-button-text-color);
  --card-secondary-button-bg-color: var(--secondary-button-bg-color);
  --card-secondary-button-text-color: var(--secondary-button-text-color);
  --card-warning-button-bg-color: var(--warning-button-bg-color);
  --card-warning-button-text-color: var(--warning-button-text-color);
  --card-danger-button-bg-color: var(--danger-button-bg-color);
  --card-danger-button-text-color: var(--danger-button-text-color);
}

body {
  font-size: 16px;
}
