body {
  --app-bg-color: #fff; /* Matches initial browser new tab background color */
  --app-accent-color: #75abbc;

  --row-highlight: 95%;
  --row-dim: 90%;
  --button-highlight: 110%;
  --button-dim: 90%;

  --primary-text-color: rgba(0, 0, 0, 0.88);
  --secondary-text-color: rgba(0, 0, 0, 0.5);
  --warning-text-color: #f6f862;
  --error-text-color: #f45d52;
  --base-text-size: 16px;

  --primary-button-bg-color: var(--app-accent-color);
  --primary-button-text-color: var(--primary-text-color);
  --secondary-button-bg-color: #d0d6dd;
  --secondary-button-text-color: var(--primary-text-color);
  --warning-button-bg-color: var(--warning-text-color);
  --warning-button-text-color: rgba(0, 0, 0, 0.88);
  --danger-button-bg-color: var(--error-text-color);
  --danger-button-text-color: var(--primary-text-color);

  /* Panel */
  --panel-bg-color: none;
  --panel-accent-color: var(--app-accent-color);
  --panel-divider-color: var(--secondary-text-color);
  --panel-title-text-color: var(--primary-text-color);
  --panel-title-text-size: 2rem;
  --panel-primary-text-color: var(--primary-text-color);
  --panel-secondary-text-color: var(--secondary-text-color);

  --panel-primary-button-bg-color: var(--primary-button-bg-color);
  --panel-primary-button-text-color: var(--primary-button-text-color);
  --panel-secondary-button-bg-color: var(--secondary-button-bg-color);
  --panel-secondary-button-text-color: var(--secondary-button-text-color);
  --panel-warning-button-bg-color: var(--warning-button-bg-color);
  --panel-warning-button-text-color: var(--warning-button-text-color);
  --panel-danger-button-bg-color: var(--danger-button-bg-color);
  --panel-danger-button-text-color: var(--danger-button-text-color);

  /* Card */
  --card-bg-color: #ffffff;
  --card-accent-color: var(--app-accent-color);
  --card-divider-color: var(--primary-text-color);
  --card-title-text-color: var(--primary-text-color);
  --card-title-text-size: 1.5rem;
  --card-primary-text-color: var(--primary-text-color);
  --card-secondary-text-color: var(--secondary-text-color);

  --card-primary-button-bg-color: var(--primary-button-bg-color);
  --card-primary-button-text-color: var(--primary-button-text-color);
  --card-secondary-button-bg-color: var(--secondary-button-bg-color);
  --card-secondary-button-text-color: var(--secondary-button-text-color);
  --card-warning-button-bg-color: var(--warning-button-bg-color);
  --card-warning-button-text-color: var(--warning-button-text-color);
  --card-danger-button-bg-color: var(--danger-button-bg-color);
  --card-danger-button-text-color: var(--danger-button-text-color);

  /* Sidebar */
  --sidebar-bg-color: #ffffff;
  --sidebar-accent-color: var(--app-accent-color);
  --sidebar-divider-color: var(--primary-text-color);
  --sidebar-title-text-color: var(--primary-text-color);
  --sidebar-title-text-size: 1.2rem;
  --sidebar-primary-text-color: var(--primary-text-color);
  --sidebar-secondary-text-color: var(--secondary-text-color);

  --sidebar-primary-button-bg-color: var(--primary-button-bg-color);
  --sidebar-primary-button-text-color: var(--primary-button-text-color);
  --sidebar-secondary-button-bg-color: var(--secondary-button-bg-color);
  --sidebar-secondary-button-text-color: var(--secondary-button-text-color);
  --sidebar-warning-button-bg-color: var(--warning-button-bg-color);
  --sidebar-warning-button-text-color: var(--warning-button-text-color);
  --sidebar-danger-button-bg-color: var(--danger-button-bg-color);
  --sidebar-danger-button-text-color: var(--danger-button-text-color);

  /* Actual Styles */
  font-size: calc(var(--base-text-size) * 1px);
}

* {
  box-sizing: border-box;
}
